body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    position: relative;

    background: radial-gradient(23.4% 35.69% at 25.49% 59.86%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.174) 82.29%), 
     linear-gradient(0deg, rgba(51, 0, 255, 0.488) 0%, rgba(175, 175, 175, 0.464) 64.58%, rgba(255, 0, 61, 0.8) 100%), 
     linear-gradient(90deg, rgba(36, 0, 255, 0) 0%, rgba(133, 133, 133, 0.416667) 47.92%, rgba(255, 0, 0, 0.8) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    min-width: 500px;
}
h1{
    font-family: 'Segoe UI';
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    margin: 0;
    
    color: #FFCB05;
    
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #3B5BA7;
}
h2{ 
    font-weight: 700;
    font-size: 48px;
    margin: 0;

    color: #FFFFFF;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
input{
    border: none;
    background: none;
    padding: 0px;
}
input::placeholder{
    color: rgba(255,255,255, 0.3);
}
button{
    border: none;
}
button:active{
    background: #F4E04D;
}
.tex{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.texB{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.col{
    display: flex;
    flex-direction: column;
}
.fil{
    display: flex;
    flex-direction: row;
}
.wid01{
    visibility: hidden;
    display: flex;
}
.wid02{
    width: 50%;
}
.color01{
    color: #FFCB05;
}
.color02{
    color: #3B5BA7;
}
.blo01{
    background: rgba(0, 0, 0, 0.15);
    width: 347px;
    border: none;
    padding: 5px 10px 5px 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}
.blo02{
    background: #FFCB05;
    padding: 5px 10px 5px 10px;
}
.blo03{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blo04{
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin-left: 100px;

    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
}
.blo05{
    padding: 5px 10px 5px 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    gap: 10px;
}
.blo06{
    display: flex;
    justify-content: space-around;
}
.blo07{
    gap: 10px;
}
.blo08{
    padding: 10px 20px;
    width: 80%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    column-gap: 50px;
    justify-content: left;
}
.blo09{
    gap: 50px;
}
.blo10{
    display: flex;
    gap: 10px;

}
.blo11{
    padding: 5px 130px 5px 50px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.blo12{
    margin-left: 100px;
    height: 430px;
    display: flex;
    justify-content: center;
}
.blo13{
    display: flex;
    gap: 9px;
    flex: 1;
}
.blo14{
    padding: 5px 20px 20px 20px;
    width: 80%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    gap: 10px;
}
.logo{
    height: 171px;
    width: 356px;
}
.icon01{
    width: 25px;
    height: 24;
}
.icon02{
    width: 79px;
    height: 81px;
}
.icon03{
    width: 45px;
    height: 45px;
}
.sha01{
    filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.25));
}
.sha02{
    filter: drop-shadow(-20px 4px 4px rgba(0, 0, 0, 0.25));
}
.pokImg{
    height: 100%;
}
.vis{
    visibility: hidden;
}
.bar{
    position: relative;
}
.barCom{
    background: #F4E04D;
    width: 100%;
    height: 20px;
    z-index: -1;
}
.barVal{
    position: absolute;
    top: 0px;
    background: #5EB1BF;
    height: 20px;
}
.iconText{
    width: 80px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    position: absolute;
    visibility: hidden;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    text-align: center;
}
.icon:hover .iconText{
    visibility:visible;
}
.icon{
    position: relative;
}

@media screen and (max-width: 1200px) {
    .blo11{
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin-bottom: 20px;

        gap: 20px;
        align-items: center;
    }
    .wid01{
        flex-direction: column;
    }
    .wid02{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .blo04{
        width: auto;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }
}
@media screen and (max-width: 480px) {
    .blo03{
        width: auto;
        flex: 1 1 70%;
    }
    .blo08{
        width: auto;
    }
    .blo14{
        width: 300px;
    }
    .blo13{
        flex: 0 0 100px;
    }
}
